h2 {
  letter-spacing: 2px;
}

hr {
  width: 80%;
  margin-bottom: 30px;
  margin-top: 15px;
}

a {
  text-decoration: none;
}

.footer {
  justify-content: center;
  display: flex;
}

.myStuff {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin-left: 15%;
}

.otherPieces {
  text-align: center;
}

.portfolio {
  color: green;
  text-align: center;
}

console.log();
