body {
  /* change fonts for entire site to something less stock? */
}

.myName {
  font-family: 'Cookie', cursive;
}
/* Google fonts are fun */

.shayName {
  font-size: 35px;
}

.nav-link {
  font-size: 15px;
}

.header {
  display: flex;
  height: 690px;
  justify-content: center;
  align-items: center;
}

#bigName {
  font-size: 100px;
  color: #00CCCC;
  opacity: .7;
  justify-content: center;
  align-items: center;
}

#bigName:hover {
  opacity: 1;
}

.h1 {
  text-decoration: none;
  color: black;
}

.h1:hover {
  /*text-decoration: none;*/
  color: #9966CC;
}
/* I feel like this was a lot of h1 directives. Is there a way to clean this up at all? */

.aboutMe {
  display: flex;
  text-align: center;
  margin-left: 150px;
  padding-top: 30px;
  font-size: 15px;
}

#aboutPic {
  display: flex;
  justify-content: center;
}

.selfie {
  height: auto;
  width: auto;
  max-height: 500px;
  max-width: 500px;
  display: block;
  margin: 0 auto;
}

.aboutSection {
  padding-bottom: 50px;
  display: flex;
  height: 550px;
}

#aboutMe {
  display: flex;
  padding-bottom: 80px;
  padding-top: 50px;
}

.portfolio-item {
  padding-bottom: 30px;
  display: flex;
}
/* I was trying to create gutters with the padding */

.img-fluid {
  height: auto;
  width: auto;
  max-height: 360px;
  max-width: 310px;
  min-height: 310px;
  display: block;
  margin: 0 auto;
}

#map3 {
  max-height: 310px;
  max-width: 360px;
  min-width: 360px;
}
/* I added this to target this specific map because it was the wrong dimensions */

#apiQuote {
  padding-top: 70px;
  display: flex;
  height: 700px;
}

#quotethings {
  font-size: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 40px;
  padding-right: 20px;
}

footer {
  margin-top: 30px;
  color: white;
}

h3 {
  color: white;
}

#bottomNav {
  margin-bottom: 0;
}
